#root {
  display: grid;
  height: 100vh;
  width: 99vw;
  grid-template-rows: 120px 1fr;
}

body {
  width: 99vw;
}

nav {
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  ul{
    display: flex;
    width: 480px;
    margin: 0;
    align-items: center;
    justify-content: space-between;   
  }
}

.main, form{
  height: 99vh;
  width: 99vw;
  text-align: center;
}

#createPost{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  div{
    width: 200px;
    display: flex;
    
  }
}